body {
    background-color: rgb(66, 99, 247);
}
h1 {
    font-family: Arial;
    color: #fff;
    text-align: center;
    text-decoration: underline;
}
h2 {
    font-family:Helvetica, sans-serif;
    text-align: left;
}
p {
    font-family: verdana; 
    font-style: italic;
}
table, th, td {
	border:1px solid black;
}
.solucion {
	font-size: 14px;
	color: red;
}
.lateral {
    width: 200px;
    border: 1px solid black;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 40px;
}

