/*	Galeria de imagenes	*/

li .min {
    background: "thumb/1.jpg";
    width: 75px;
    height: 64px;
    padding: 6px 20px 20px 7px;
}

#titulos {
    padding: 10px;
    text-align: center;
}

#borde {
    width: 405px;
    height: 305px;
    position: absolute;
    top: 250px;
    /* Provoca la separacion del borde superior */
    left: 50%;
    /* Separa la imagen grande de la pequea */
    background: "std/1.jpg";
}

.cat {
    list-style-type: none;
    margin: 0 0 25px 10px;
    /* Eliminacion de vieta en IE6 */
    padding: 0px;
    /* Eliminacion de vieta en IE6 */
    float: left;
}

.max {
    visibility: hidden;
    position: absolute;
    top: 255px;
    /* Provoca la separacion del borde superior */
    left: 50%;
    /* Separa la imagen grande de la pequea */
    margin-left: 5px;
}

a:hover .max {
    visibility: visible;
}


/*visor imagenes deportes*/

#galeria {
    margin: auto;
    padding: 0;
    text-align: center
}

#cajavisor {
    font: bold 1.3em verdana;
    background-color: #feffe4;
}

h3 {
    text-align: left;
    text-decoration-line: underline;
    padding: 0.5em
}

#menu {
    float: left;
    width: 25%;
    background-color: #e3f2ff;
}

#menu img {
    width: 35%;
    margin: 5%;
    cursor: pointer;
}

#principal {
    float: left;
    width: 75%;
}

#visor {
    width: 60%;
    margin: 10%
}

#visor img {
    width: 100%
}

#boton {
    float: right;
}